.header{
  height:80px;
  width:1400px;
  background-color:black;
  color:white;
}
.header-list li{
  list-style:none;
  float:left;
  padding:20px;

}
.header-logo{
  float:left;
  padding:20px;
}
.footer{
  color:white;
  height:80px;
  width:1400px;
  background-color:blue;
}
.footer-logo{
  float:left;
  padding:20px;
}
.footer-list{
    width:150px;
    float:right;
}
.footer-list li{

  list-style:none;
  font-size:4px;

}
.main{
  height:400px;
}
.operator{
  color:red;
  font-weight:bold;
}
.content1{
  border-bottom:2px;
}
.Progate{
  font-size:50px;
}
